<div class="justificacionAdmin">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" routerLink="/justificaciones"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Administrar Justificaciones
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla">

        <div class="contenedorPrincipal">
            <app-seleccionar-justificacion [justificaciones]="justificaciones" (selected)="seleccionarJustificacion($event)"></app-seleccionar-justificacion>
        </div>
        <div class="contenedorSecundario">
          <button mat-button class="btnClasico" routerLink="/crear_justificacion"> CREAR JUSTIFICACION </button>
        </div>
    </div>

</div>
