<div class="seleccionarJustificacion">

  <input matInput type='search'  [(ngModel)]='busqueda' class="inputSearch" placeholder="Buscar Justificación"/>



  <!-- Lista -->
  <mat-selection-list #listaJustificaciones>
    <mat-list-option class="itemLista" *ngFor="let j of justificaciones | searchfilter:'nombre': busqueda"  (click) = "seleccionarJustificacion(j)" checkboxPosition='before'>
      <h3 matLine> {{ j.nombre }}</h3>
      <p matLine>
        <span class="itemTextoSubtitulo">{{ j.codigo }}</span>
      </p>
    </mat-list-option>
  </mat-selection-list>

</div>
