<div class="reporte">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Reporte General
    </div>

    <mat-divider></mat-divider>

    <mat-form-field class="seleccionFechaInicio">
      <mat-placeholder>Fecha</mat-placeholder>
      <input matInput [matDatepicker]="datePickerFecha" [(ngModel)]="fecha">
      <mat-datepicker-toggle matSuffix [for]="datePickerFecha"></mat-datepicker-toggle>
      <mat-datepicker #datePickerFecha></mat-datepicker>
    </mat-form-field>

    <app-listado-lugares [lugares]="lugares" (selected)="seleccionarLugar($event)"></app-listado-lugares>


    <button mat-button (click)="generarReporte()">Generar Reporte</button>
</div>
