<div class="reporteGeneralInicio">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Reporte General
    </div>

    <mat-divider></mat-divider>

    <mat-progress-bar *ngIf="cargando" mode="indeterminate" value="10" class="preload"></mat-progress-bar>

    <div class="contenidoPantalla">

        <div class="contnedorIzquierdo">
          <app-listado-lugares [lugares]="lugares" (selected)="seleccionarLugar($event)"></app-listado-lugares>
        </div>

        <div class="contenedorDerecho">
          <mat-form-field class="seleccionFechaInicio">
            <mat-placeholder>Fecha</mat-placeholder>
            <input matInput [matDatepicker]="datePickerFecha" [(ngModel)]="fecha">
            <mat-datepicker-toggle matSuffix [for]="datePickerFecha"></mat-datepicker-toggle>
            <mat-datepicker #datePickerFecha></mat-datepicker>
          </mat-form-field>

          <div>
            <button mat-button (click)="generarReporte()" [disabled]="seleccionados.length <= 0" class="btnClasico">GENERAR REPORTE</button>
          </div>
        </div>

    </div>
</div>
