<div class="seleccionarJustificacion">
  <mat-form-field class="contenedorBuscar">
    <input matInput type='search'  [(ngModel)]='busqueda' class="inputSearch"  placeholder="Buscar Justificación"/>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <!-- Lista -->
  <mat-selection-list #listaJustificaciones>
    <mat-list-option class="itemLista" *ngFor="let j of justificaciones | searchfilter:'nombre': busqueda"  (click) = "seleccionarJustificacion(j)">
      <div matListAvatar class="avatar">{{ j.nombre[0].toUpperCase()}}</div>
      <h3 class="texto" matLine> {{ j.nombre }}</h3>
      <p class="texto" matLine>
        <span class="itemTextoSubtitulo">Código {{ j.codigo }}</span>
      </p>
    </mat-list-option>
  </mat-selection-list>

</div>
