<div *ngIf="info">
  <p>{{info.usuario["nombre"]}}, {{info.usuario["apellido"]}}</p>
  <p>{{info.usuario["dni"]}}</p>
</div>

<div>
  <mat-form-field>
    <input matInput [matDatepicker]="datePicker" [(ngModel)]="fecha" placeholder="Fecha">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>
  <span *ngIf="info">Horas Semanales: {{obtenerHorasSemanales()}}</span>
  <ul *ngIf="info">
    <li *ngFor="let h of info.horarios" >
      {{h.obtenerDiaSemanal()}}
      <input type="time" value="{{h.entrada | date: 'HH:mm'}}" (change)="cambio($event, h)" >
      Horas:
      <input type="number" [(ngModel)]="h.cantidadHoras">
    </li>
  </ul>
</div>

<button (click)="guardar()">Guardar</button>
