
<div *ngIf='reloj'>
  <div>{{reloj.id}}</div>
  nombre:<div>{{reloj.nombre}}</div>
  descripcion:<div>{{reloj.descripcion}}</div>
  ip:<div>{{reloj.ip}}</div>
  mascara:<div>{{reloj.mascara}}</div>
  router:<div>{{reloj.router}}</div>
  activo:<div>{{reloj.activo}}</div>
  modelo:<div>{{reloj.modelo}}</div>
  fecha de instalacion:<div>{{reloj.creado}}</div>
  Soap url:<div>{{reloj.api_url}}</div>
  algoritmo:<div>{{reloj.algoritmo}}</div>
  zona_horaria<div>{{reloj.zona_horaria}}</div>

  <div>
    <button mat-button routerLink='/detalle_reloj/{{reloj.id}}/usuarios'>Ver Usuarios</button>
    <button mat-button (click)='sincronizar()'>Sincronizar Logs</button>
    <button mat-button (click)='agregar_usuario()'>Agregar Usuario</button>
    <div>
      <div>ATENCION!!! peligrosas!!!</div>
      <mat-button-toggle (change)='activar_eliminar($event)'>Activar</mat-button-toggle>
      <button disabled='{{!eliminar_activo}}' mat-button (click)='eliminar_usuarios()'>Eliminar Usuarios</button>
      <button disabled='{{!eliminar_activo}}' mat-button (click)='eliminar_huellas()'>Eliminar Huellas</button>
    </div>

  </div>

</div>
