
<div *ngIf='reloj'>
  <div>{{reloj.id}}</div>
  nombre:<div>{{reloj.nombre}}</div>
  descripcion:<div>{{reloj.descripcion}}</div>
  ip:<div>{{reloj.ip}}</div>
  mascara:<div>{{reloj.mascara}}</div>
  router:<div>{{reloj.router}}</div>
  activo:<div>{{reloj.activo}}</div>
  modelo:<div>{{reloj.modelo}}</div>
  fecha de instalacion:<div>{{reloj.creado}}</div>
  Soap url:<div>{{reloj.api_url}}</div>
  algoritmo:<div>{{reloj.algoritmo}}</div>
  zona_horaria<div>{{reloj.zona_horaria}}</div>
</div>
<div>
  <button mat-button></button>
</div>
