<div class="justificacionAdmin">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" routerLink="/justificaciones"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Justificaciones
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla">

      <app-seleccionar-justificacion [justificaciones]="justificaciones"></app-seleccionar-justificacion>

      <button routerLink="/crear_justificacion"> Crear nueva </button>
    </div>

</div>
