<div class="justificaciones">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" disabled><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Justificaciones
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla">
      <button mat-button class="btnPrimario"  routerLink="/justificacion_personal"><mat-icon class="btnIco">person</mat-icon> JUSTIFICACION PERSONAL</button><br>
      <button mat-button class="btnPrimario" routerLink="/justificacion_general"><mat-icon class="btnIco">people</mat-icon> JUSTIFICACION GENERAL</button><br>
      <button mat-button class="btnPrimario" routerLink="/justificacion_admin"><mat-icon class="btnIco">star</mat-icon> ADMINISTRAR JUSTIFICACIONES</button>
    </div>

</div>
