<div class="justificacionPersonal">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Justificacion Personal
    </div>

    <mat-divider></mat-divider>


    <div class="contenidoPantalla">

        <div class="contenedorIzquierdo">


          <div class="listado">
            <app-seleccionar-justificacion [justificaciones]="justificaciones" (selected)="seleccionarJustificacion($event)"></app-seleccionar-justificacion>
            <mat-progress-bar *ngIf="cargando" mode="indeterminate" value="10" class="preload"></mat-progress-bar>

          </div>



        </div>

        <div class="contenedorDerecho">

          <mat-list *ngIf="usuario">
            <mat-list-item class="itemLista">
              <img matListAvatar src="/assets/img/icono_usuario.jpg">
              <h3 matLine> {{usuario.nombre}} {{usuario.apellido}} </h3>
              <p matLine>
                <span class="itemTextoSubtitulo">{{usuario.dni}}</span>
              </p>
            </mat-list-item>
          </mat-list>

          <!-- <p *ngIf="usuario" >
            Usuario: {{ usuario.apellido }}, {{ usuario.nombre }} ({{ usuario.dni }})
          </p> -->

          <form (ngSubmit)=justificar()>

            <div class="fechas">

              <mat-radio-group name='seleccion_fecha' [(ngModel)]="seleccionFecha" class="contenedorSeleccionDeFechas">

                <mat-radio-button value="simple" class="textoFecha">
                  <div matLine> Fecha </div>
                </mat-radio-button>

                <mat-radio-button value="rango">
                  <div matLine> Rango de Fechas</div>
                </mat-radio-button>

              </mat-radio-group>

              <div *ngIf="seleccionFecha == 'simple'" class="contenedorSeleccionDeFechaSimple">
                <mat-form-field class="seleccionFechaInicio">
                  <mat-placeholder>Fecha</mat-placeholder>
                  <input matInput name='fecha' [matDatepicker]="datePickerFecha" [(ngModel)]="fecha">
                  <mat-datepicker-toggle matSuffix [for]="datePickerFecha"></mat-datepicker-toggle>
                  <mat-datepicker #datePickerFecha></mat-datepicker>
                </mat-form-field>
              </div>

              <div *ngIf="seleccionFecha == 'rango'" class="contenedorSeleccionDeFechaDoble">
                <mat-form-field class="seleccionFechaInicio">
                  <mat-placeholder>Fecha Inicio</mat-placeholder>
                  <input matInput name='fecha_inicio' [matDatepicker]="datePickerInicio" [(ngModel)]="fechaInicio">
                  <mat-datepicker-toggle matSuffix [for]="datePickerInicio"></mat-datepicker-toggle>
                  <mat-datepicker #datePickerInicio></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="seleccionFechaInicio">
                  <mat-placeholder>Fecha Fin</mat-placeholder>
                  <input matInput name='fecha_fin' [matDatepicker]="datePickerFin" [(ngModel)]="fechaFin">
                  <mat-datepicker-toggle matSuffix [for]="datePickerFin"></mat-datepicker-toggle>
                  <mat-datepicker #datePickerFin></mat-datepicker>
                </mat-form-field><br>

              </div>

              <div>
                <mat-form-field>
                  <mat-placeholder>Notas</mat-placeholder>
                  <textarea matInput name='notas' [(ngModel)]="notas"></textarea>
                </mat-form-field>
              </div>

            </div>


            <div *ngIf="seleccionFecha == 'rango'" class="textDiasSeleccionados">{{obtenerDias()}} días seleccionados</div>

            <button mat-button type='submit' [disabled]="!justificacion" class="btnClasico">JUSTIFICAR</button>

        </form>

        </div>

    </div>


</div>
