<div  class="reporte">
  <div class="seccionSistema">
    <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
     | Reporte Marcaciones
  </div>
  <mat-divider></mat-divider>
  <div class="contenidoPantalla">
    <div class="cabeceraReporte">
        <div class="contenedorListaDeUsuario">
            <mat-list class="listaUsuario">
              <mat-list-item class="itemLista">
                <img matListAvatar src="/assets/img/icono_usuario.jpg">
                <h3 matLine *ngIf="reporte && reporte.usuario"> {{reporte.usuario.nombre}} {{reporte.usuario.apellido}}</h3>
                <p matLine>
                  <span class="itemTextoSubtitulo" *ngIf="reporte && reporte.usuario  ">{{reporte.usuario.dni}}</span>
                </p>
              </mat-list-item>
            </mat-list>
        </div>
        <div class="contenedorDetallesDeReporte">
            <mat-list class="listaUsuario">
              <mat-list-item class="itemLista">
                <h3 matLine *ngIf="renglon_reporte">
                  Fecha: {{renglon_reporte.fecha | date:'shortDate': '+0000'}} Horario: {{obtenerHorario(renglon_reporte)}}
                </h3>
                <p matLine>
                  <span class="itemTextoSubtitulo" *ngIf="renglon_reporte">Horas Trabajadas: {{obtenerHorasTrabajadas(renglon_reporte)}}</span>
                </p>
              </mat-list-item>
            </mat-list>
        </div>
    </div>
    <mat-progress-bar *ngIf="cargando" mode="indeterminate" value="10" class="preload"></mat-progress-bar>
    <mat-divider></mat-divider>
    <div *ngIf="!cargando">
      <mat-table [dataSource]='renglon_reporte.marcaciones' matSort>
        <ng-container matColumnDef='Marcacion'>
          <mat-header-cell *matHeaderCellDef mat-sort-header> Marcacion </mat-header-cell>
          <mat-cell *matCellDef='let marcacion'> 
            {{obtenerMarcacion(marcacion) | date:'HH:mm'}}
          </mat-cell>
        </ng-container>
        &nbsp;
        <ng-container matColumnDef='Tipo'>
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
          <mat-cell *matCellDef='let marcacion'> 
            <i class="material-icons icoMarcacion" matTooltip="Tipo de Marcación">{{obtenerIcono(marcacion)}}</i>  
          </mat-cell>
        </ng-container>
        &nbsp;
        <ng-container matColumnDef='Reloj'>
          <mat-header-cell *matHeaderCellDef mat-sort-header> Reloj </mat-header-cell>
          <mat-cell *matCellDef='let marcacion'>
            {{marcacion.dispositivo_id}} 
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['Marcacion','Tipo','Reloj']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['Marcacion','Tipo','Reloj']"></mat-row>
      </mat-table>   
    </div>
  </div>
</div>

