
.detalleUsuarioReloj .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.detalleUsuarioReloj .btnVolverSeccion {
  color: grey;
}

.detalleUsuarioReloj .contenidoPantalla {
  padding: 20px;
  max-width: 400px;

}

.formulario {
  width: 100%;

}

.formulario .itemFormularioFull {
  width: 100%;
}


.itemLista {
  background-color: white;
  border: solid 1px #E0E0E0;
  width: 48%;
  margin-top: 5px;
  margin-right: 5px;
}


.iconoHuella {
  font-size: 2em;
}

.btnEliminarHuella {
    color: grey;
}

.btnEliminarHuella:hover {
    color: #9b2626;
    cursor: pointer;
}

.subtitulo {
  display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-bottom: 5px;
  color: #4186e1;
}

.fdr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icoMenu {
  color: rgba(0,0,0,.54);
  margin-right: 5px;
}

.textoDedo {
  font-size: 0.8em !important;
  /*color: red;*/
  margin-left: -15px !important;
}

.listaDeHuellas {
  display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
}
