<div class="justificaciones">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" disabled><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Justificaciones
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla">
      <button mat-button class="btnPrimario"  routerLink="/justificacion_personal_inicio"><mat-icon class="btnIco">add</mat-icon> Justificar</button><br>
      <button mat-button class="btnPrimario" routerLink="/justificacion_general"><mat-icon class="btnIco">add</mat-icon> Justificaciones Generales</button><br>
      <button mat-button class="btnPrimario" routerLink="/justificacion_admin"><mat-icon class="btnIco">add</mat-icon> Administrar Justificaciones</button>
    </div>

</div>
