<div  class="reporte">
  <div class="seccionSistema">
    <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
     | Compensatorios
  </div>
  <mat-divider></mat-divider>
  <div class="contenidoPantalla">
    <div *ngIf='info' class='cabeceraReporte'>
      <div class='contendeorListaUsuario'>
        <mat-list class='listaUsuario'>
          <mat-list-item class="itemLista">
            <img matListAvatar src="/assets/img/icono_usuario.jpg">
            <h3 matLine> {{info.usuario?.nombre}} {{info.usuario?.apellido}} </h3>
            <p matLine>
            <span class="itemTextoSubtitulo">{{info.usuario?.dni}}</span>
          </p>
          </mat-list-item>
        </mat-list>
      </div>
      <app-compensatorios-consulta></app-compensatorios-consulta>
    </div>
    <mat-progress-bar *ngIf="cargando" mode="indeterminate" value="10" class="preload"></mat-progress-bar>
    <mat-divider></mat-divider>
    <div *ngIf="!cargando">
      <mat-tab-group>
        <mat-tab label='Historial'>
          <mat-table [dataSource]='compensatorios$ | async' matSort>
            <ng-container matColumnDef='Fecha'>
              <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
              <mat-cell *matCellDef='let compensatorio'> 
                {{compensatorio.creado | date:'dd/MM/yyyy'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef='Cantidad'>
              <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </mat-header-cell>
              <mat-cell *matCellDef='let compensatorio'> 
                {{compensatorio.cantidad}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef='Nota'>
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nota </mat-header-cell>
              <mat-cell *matCellDef='let compensatorio'> 
                {{compensatorio.notas}}
              </mat-cell>
            </ng-container>
            &nbsp;
            <ng-container matColumnDef='Creador'>
              <mat-header-cell *matHeaderCellDef mat-sort-header> Creador </mat-header-cell>
              <mat-cell *matCellDef='let compensatorio'>  
                {{compensatorio.autorizador?.nombre}} {{compensatorio.autorizador?.apellido}}
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnas$.value"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas$.value"></mat-row>
          </mat-table> 
        </mat-tab>
      </mat-tab-group>
      <button *ngIf='permisos.esAdministrador()' mat-button class="btnSiguiente">
        <a style='color:inherit; text-decoration: none;' routerLink="/sistema/compensatorios/alta/{{usuario_id}}">MODIFICAR</a>
      </button>
    </div>
  </div>
</div>