<div class="reportes">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" routerLink="/sistema/inicial"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Reportes
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla">
      <button mat-button class="btnPrimario"  routerLink="/sistema/reportes/personal"><mat-icon class="btnIco">person</mat-icon> REPORTE PERSONAL</button><br>
      <button mat-button class="btnPrimario" routerLink="/sistema/reportes/general"><mat-icon class="btnIco">people</mat-icon> REPORTES GENERALES</button>
    </div>

</div>
