/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.justificacionAdmin {
}

.justificacionAdmin .seccionSistema {
  color: #4186e1;
  padding: 5px;
}

.justificacionAdmin .btnVolverSeccion {
  color: grey;
}

.justificacionAdmin .contenidoPantalla {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*------------------------------------------*/
.preload {
  opacity: 0.2;
  margin-top: 20px;
}

.contenedorPrincipal {
  width: 400px;
}

.contenedorSecundario {
  width: 350px;
  padding-left: 40px;
}

.btnClasico {
    background-color: #4186e1;
    color: #fff;
    padding: 5px 10px 5px 15px;
}


@media screen and (max-width: 769px) {

  .justificacionAdmin .contenidoPantalla {
    width: 100%;

    flex-direction: column-reverse;
  }

  .contenedorPrincipal {
    width: 100% !important;
  }

  .contenedorSecundario {
    width: 100%;
    padding-left: 0px;
  }
  .btnClasico {
      background-color: #4186e1;
      color: #fff;
      padding: 10px;
      width: 100%;
  }


}
