<div  class="horario">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Horario
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla" *ngIf="info">

      <mat-list>
        <mat-list-item *ngIf="info.usuario" class="itemLista">
          <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
          <h3 matLine> {{info.usuario.nombre}} {{info.usuario.apellido}} </h3>
          <p matLine>
            <span class="itemTextoSubtitulo">{{info.usuario.dni}}</span>
          </p>
        </mat-list-item>
      </mat-list>

      <mat-form-field class="inputFecha">
        <input  matInput [matDatepicker]="datePicker" [(ngModel)]="fecha" placeholder="Fecha" (dateChange)="obtenerHorario()">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>


      <div *ngIf='info.horasSemanales' class="conenedorHoras">

        <div class="textoHorasSemanales">Horas Semanales: {{info.horasSemanales.horas}}</div>

        <mat-divider></mat-divider>

        <div class="horas" *ngFor="let h of info.horarios">
            <div class="columnaDias">{{h.obtenerDiaSemanal()}}</div>
            <div class="columnaEntrada">Entrada</div>
            <div>{{ h.entrada | date: 'HH:mm' }}</div>
            <div class="columnaSalida">Salida</div>
            <div>{{h.salida | date: 'HH:mm'}}</div>
        </div>
      </div>

      <button mat-button class="btnModificar" routerLink="/sistema/horarios/modificar/{{usuario_id}}"  [queryParams]="{ fecha:fecha }">MODIFICAR HORARIO</button>
      <button mat-button class="btnModificar" routerLink="/sistema/horarios/historico/{{usuario_id}}"  [queryParams]="{ fecha:fecha }">VER HISTORIAL</button>
      <!-- <button routerLink="/horario_modificar/{{usuario_id}}"  [queryParams]="{ fecha:fecha }" >Modificar</button> -->
    </div>
</div>
