<div  class="reporteGeneral">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Reporte General
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla">

      <div class="cabeceraReporte">

          <div class="contenedorLugaresSeleccionados">

            <div class="texto">Lugares seleccionados</div>

            <mat-expansion-panel *ngIf="reportes && reportes.length > 0 " [hideToggle]="reportes && reportes.length < 2 ">
                <mat-expansion-panel-header>
                      <mat-panel-title >
                          {{reportes[0].lugar.nombre}}
                      </mat-panel-title>
                      <mat-panel-description >
                        <span *ngIf="reportes.length > 1"> y {{reportes.length -1 }} más</span>
                      </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngFor="let rep of reportes; let i=index; let primero = first" [ngClass]="{ocultar:primero}">
                  <mat-divider class="separador"></mat-divider>
                  {{rep.lugar.nombre}}
                </div>
            </mat-expansion-panel>

          </div>

          <div class="contenedorFecha">
            <form (ngSubmit)='generarReporte()'>
              <mat-form-field class="seleccionFecha">
                  <mat-placeholder>Fecha</mat-placeholder>
                <input matInput [matDatepicker]="datePicker" [(ngModel)]="fecha" name="fecha" required>
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
              </mat-form-field>
              <button mat-button class="btnGenerar" name="generar" [disabled]="buscando" type='submit' >GENERAR REPORTE</button>
            </form>
          </div>

          <div class="contenedorBtnAcciones">
            <!-- <button mat-button class="btnAcciones" title="Imprimir"><i class="material-icons">print</i></button>
            <button mat-button class="btnAcciones" title="Descargar"><i class="material-icons">cloud_download</i></button>
            <button mat-button class="btnAcciones" title="Compartir"><i class="material-icons">share</i></button> -->
          </div>

      </div>


      <mat-progress-bar *ngIf="buscando" mode="indeterminate" value="10" class="preload"></mat-progress-bar>

      <mat-divider></mat-divider>




      <div *ngIf='reportes'>
        <mat-tab-group *ngFor="let rep of reportes" class="contenedorReporteLugar">

          <mat-tab *ngIf='is_desktop()' label="{{rep.lugar.nombre}}" class="Tabs">
            <mat-table [dataSource]='rep.reportes' matSort>

              <ng-container matColumnDef='Dia'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Dia </mat-header-cell>
                <mat-cell *matCellDef='let renglon'> {{renglon.fecha | date: 'EEEE'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef='Fecha'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                <mat-cell *matCellDef='let renglon' class="textFecha"> {{renglon.fecha | date: 'dd/MM/yyyy'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef='Nombre'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef='let renglon'> {{renglon.usuario.nombre}} {{renglon.usuario.apellido}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef='Horario'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Horario </mat-header-cell>
                <mat-cell *matCellDef='let renglon'> {{obtenerHoraEntrada(renglon) | date: 'HH:mm'}} - {{obtenerHoraSalida(renglon) | date: 'HH:mm'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef='Entrada'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Entrada </mat-header-cell>
                <mat-cell *matCellDef='let renglon'>
                  <i class="material-icons icoMarcacion" matTooltip="Tipo de Marcación">{{obtenerIcono(renglon.entrada)}}</i> 
                  {{obtenerMarcacion(renglon.entrada) | date:'HH:mm'}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef='Salida'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Salida </mat-header-cell>
                <mat-cell *matCellDef='let renglon'>
                  <i class="material-icons icoMarcacion" matTooltip="Tipo de Marcación">{{obtenerIcono(renglon.salida)}}</i> 
                  {{obtenerMarcacion(renglon.salida) | date:'HH:mm'}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef='Horas_trabajadas'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Horas </mat-header-cell>
                <mat-cell *matCellDef='let renglon' matTooltip='{{obtenerMarcacionesIndividuales(renglon)}}'> 
                  <a class='linkTexto' routerLink='/sistema/marcaciones/personal/{{renglon.usuario.id}}/{{renglon.fecha}}' [queryParams]=generarBack()>
                    {{obtenerHorasTrabajadas(renglon)}}
                  </a>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef='Justificacion'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Justificacion </mat-header-cell>
                <mat-cell *matCellDef='let renglon'>
                  <div *ngIf='renglon.justificaciones.length > 0'>
                    <mat-chip-list #chipList>
                      <mat-chip *ngFor="let j of renglon.justificaciones">
                        {{j.nombre }}
                        <mat-icon matChipRemove *ngIf="j.esPrimerDia && chequearPerfil(['super-admin','justificacion_personal_abm','justificacion_general_abm'])" (click)="eliminarJustificacion(j, renglon.usuario.id)">cancel</mat-icon>
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                  <button mat-icon-button *ngIf="renglon.justificaciones <= 0 && chequearPerfil(['super-admin','justificacion_personal_a','justificacion_general_a'])" routerLink="/sistema/justificaciones/personal/{{renglon.usuario.id}}" [queryParams]="{ fecha: renglon.fecha }" class="btnJustificar" title="Justificar"><i class="material-icons">add_circle_outline</i></button>
                </mat-cell>
              </ng-container>

              <!-- VISTA PARA PC -->
              <mat-header-row *matHeaderRowDef="['Dia', 'Fecha','Nombre', 'Horario', 'Entrada', 'Salida', 'Horas_trabajadas', 'Justificacion']"></mat-header-row>
              <mat-row *matRowDef="let row; columns: ['Dia', 'Fecha','Nombre', 'Horario', 'Entrada', 'Salida', 'Horas_trabajadas', 'Justificacion']"></mat-row>

            </mat-table>
          </mat-tab>

          <mat-tab *ngIf='!is_desktop()' label="{{rep.lugar.nombre}}" class="Tabs">
              <mat-table [dataSource]='rep.reportes' matSort>

                <ng-container matColumnDef='Dia'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Dia </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'> {{renglon.fecha | date: 'EEE'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Fecha'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                  <mat-cell *matCellDef='let renglon' class="textFecha"> {{renglon.fecha | date: 'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Nombre'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'> {{renglon.usuario.nombre}} {{renglon.usuario.apellido}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Horario'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Horario </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'> {{obtenerHoraEntrada(renglon) | date: 'HH:mm'}} - {{obtenerHoraSalida(renglon) | date: 'HH:mm'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Entrada'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Entrada </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'> {{obtenerMarcacion(renglon.entrada) | date:'HH:mm'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Salida'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Salida </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'> {{obtenerMarcacion(renglon.salida) | date:'HH:mm'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Horas_trabajadas'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Horas </mat-header-cell>
                  <mat-cell *matCellDef='let renglon' matTooltip='{{obtenerMarcacionesIndividuales(renglon)}}'> {{obtenerHorasTrabajadas(renglon)}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Justificacion'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Justificacion </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'>
                    <div *ngIf='renglon.justificaciones.length > 0'>
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let j of renglon.justificaciones">
                          {{j.nombre }}
                          <mat-icon matChipRemove *ngIf="j.esPrimerDia" (click)="eliminarJustificacion(j, renglon.usuario.id)">cancel</mat-icon>
                        </mat-chip>
                      </mat-chip-list>
                    </div>
                    <button mat-icon-button *ngIf='renglon.justificaciones <= 0' routerLink="/sistema/justificaciones/personal/{{renglon.usuario.id}}" [queryParams]="{ fecha: renglon.fecha }" class="btnJustificar" title="Justificar"><i class="material-icons">add_circle_outline</i></button>
                  </mat-cell>
                </ng-container>

                <!-- VISTA PARA CEL -->
                <mat-header-row *matHeaderRowDef="['Fecha','Nombre', 'Entrada', 'Salida', 'Horas_trabajadas', 'Justificacion']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['Fecha','Nombre', 'Entrada', 'Salida', 'Horas_trabajadas', 'Justificacion']"></mat-row>

              </mat-table>
            </mat-tab>




        </mat-tab-group>
      </div>

    </div>

</div>
