/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.reporteGeneral {
}

.reporteGeneral .seccionSistema {
  color: #4186e1;
  padding: 5px;
}

.reporteGeneral .btnVolverSeccion {
  color: grey;
}

.reporteGeneral .contenidoPantalla {
  padding: 20px;
}

/* ---------------------------------------*/


.cabeceraReporte {
  display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items:flex-start;

  margin-bottom: 10px;

}

.contenedorLugaresSeleccionados {
  width: 500px;
}

.btnAcciones {
background-color: #D1D1D1;
color: grey;
}

.btnAcciones:hover {
background-color: white;
}


.btnGenerar {
  background-color: #4186e1;
  color: #fff;
  margin-left: 15px;
}


.texto {
  font-size: 13px;
  color: rgba(0,0,0,.54);
  margin-bottom: 5px;
}

.ocultar {
  display:none;
}

.contenedorFecha {
  margin-top: 20px;
}

.contenedorBtnAcciones {
    margin-top: 30px;
}

.separador {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contenedorReporteLugar {
  margin-bottom: 10px;
}

.btnJustificar {
  color: grey;
}

.mat-column-Nombre{
  padding-right:  20px;
}

.mat-column-Justificacion{
    flex: 0 0 200px;
}


/*.mat-column-Dia{
    flex: 0 0 100px;
}

.mat-column-Horario{
    flex: 0 0 150px;
}

.mat-column-Justificacion{
    flex: 0 0 300px;
}*/

.buscando {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 150px;
  top: 0px;
  left: 0px;
}

.preload {
  opacity: 0.2;
  margin-top: 20px;
}

.icoMarcacion {
  opacity: 0.7;
  font-size: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 769px) {
  .contenedorLugaresSeleccionados {
    width: 100%;
  }
  .seleccionFecha {
    width: 100%;
  }
  .btnGenerar {
    padding: 10px;
    width: 100%;
    margin-left: 0px;

  }

  .contenedorBtnAcciones {
      display: none;
  }
  .mat-column-Justificacion{
      flex: 0;
  }

  .mat-column-Fecha,
    .mat-column-Nombre,
  .mat-column-Entrada,
  .mat-column-Salida,
  .mat-column-Horas,
  .mat-column-Horas_trabajadas,
  .mat-column-Justificacion {
      font-size: 10px;
  }


}
