<div class="seleccionarReloj">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Administrar Relojes
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla">

        <div class="subtitulo">
            <div class="fdr"><mat-icon class="icoMenu">query_builder</mat-icon> <span>Relojes</span></div>
            <button mat-button class="btnClasico">AGREGAR RELOJ</button>
        </div>



        <mat-card class="tarjeta"  *ngFor="let reloj of relojes" routerLink='/detalle_reloj/{{reloj.id}}'>
          <mat-card-header class="contenidoTarjeta">
            <div mat-card-avatar><mat-icon class="icoTarjeta">query_builder</mat-icon></div>
            <mat-card-title class="tituloReloj">{{reloj.nombre }} | {{reloj.descripcion }} </mat-card-title>
            <mat-card-subtitle class="subtitulo">
              <div *ngIf='reloj.activo' class="parpadea colorActivo"><mat-icon class="iconoEstado">fiber_manual_record</mat-icon></div>
              <div *ngIf='!reloj.activo' class="parpadea colorInactivo"><mat-icon class="iconoEstado">fiber_manual_record</mat-icon></div>
              <div>{{reloj.ip }}</div>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>


    </div>

</div>
