/* ---- CSS BASICO PARA CADA PANTALLA ----*/

.seleccionarReloj {
}

.seleccionarReloj .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.seleccionarReloj .btnVolverSeccion {
  color: grey;
}

.seleccionarReloj .contenidoPantalla {
  padding: 20px;
  max-width: 400px;

}

/* ---------------------------------------*/

.subtitulo {
  display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-bottom: 20px;
}

.fdr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icoMenu {
  color: rgba(0,0,0,.54);
  margin-right: 5px;
}

.btnClasico {
  background-color: #4186e1;
    color: #fff;
    font-size: 12px;
}

.itemLista {
  background-color: white;
  border: solid 1px #E0E0E0;
  margin-bottom: 5px;
}

.itemLista:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}

.textoIP {
  color: grey;
}


.iconoEstado {
  font-size: 14px;
  height: 15px;
  width: 15px;
}

.parpadea {

  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.4; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.4; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.4; }
  100% { opacity: 1.0; }
}

.colorActivo {
  color:#35AC19;
}

.colorInactivo {
  color: #E23237;
}
