/* ---- CSS BASICO PARA CADA PANTALLA ----*/

.seleccionarReloj {
}

.seleccionarReloj .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.seleccionarReloj .btnVolverSeccion {
  color: grey;
}

.seleccionarReloj .contenidoPantalla {
  padding: 20px;
  max-width: 400px;

}

/* ---------------------------------------*/

.subtitulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.icoTarjeta {
  font-size: 2.5em;
  margin-right: 20px;
  color: grey;
}

.tituloReloj {
  font-size: 1em;
  padding-left: 5px;
}

.fdr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icoMenu {
  color: rgba(0,0,0,.54);
  margin-right: 5px;
}

.btnClasico {
  background-color: #4186e1;
    color: #fff;
    font-size: 12px;
}


.example-card {
  max-width: 400px;
  margin-bottom: 10px;
  padding: 5px;
  padding-top: 15px;
  padding: 15px 15px 5px 15px;
}

.mat-card-title {
  margin-bottom: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.tarjeta {
padding: 0px;
margin-bottom: 10px;
}

.tarjeta :hover {
  cursor: pointer;
  background-color: #dbdbdb;
}

.contenidoTarjeta {
  padding: 20px;
  padding-bottom: 0px;
}

.subtitulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
}

.iconoEstado {
  font-size: 14px;
  height: 15px;
width: 15px;
}

.colorActivo {
  color:#35AC19;
}

.colorInactivo {
  color: #E23237;
}



.parpadea {

  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.4; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.4; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.4; }
  100% { opacity: 1.0; }
}
