/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.modificarHorario {
}

.modificarHorario .seccionSistema {
  color: #4186e1;
  padding: 5px;
}

.modificarHorario .btnVolverSeccion {
  color: grey;
}

.modificarHorario .contenidoPantalla {
  padding: 20px;
  max-width: 400px;
}

/* ---------------------------------------*/
.preload {
  opacity: 0.2;
  margin-top: 20px;
}


.mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 0px !important;
}


.itemLista {
  background-color: white;
  border: solid 1px #E0E0E0;
}

.itemTextoSubtitulo {
  color: grey;
}

.inputFecha {
  width: 100%;
  margin-top: 20px;
}

.textoHorasSemanales {
  margin-bottom: 10px;
  font-size: 14px;

}

.formularioHorario {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.inputDia {
  width: 45%;
  margin-right: 20px;
}

.inputHoras {
  width: 20%;
  margin-top: 5px;
}

.inputMinutos {
  width: 20%;
  margin-top: 5px;
}

.btnGuardar {
  width: 45%;
  background-color: #4186e1;
  color: #fff;
}

.conenedorHoras {
  background-color: white;
  border: solid 1px #E0E0E0;
  padding: 20px;
  margin-bottom: 20px
}

mat-divider {
  margin-bottom: 20px;
}

.icoCortar {
  color: grey;
  margin-left: 5px;
}

@media screen and (max-width: 769px) {
  .horario .contenidoPantalla {
    width: 100%;
  }

  .inputDia {
    width: 45%;
    margin-right: 20px;
  }

  .inputHoras {
    width: 20%;
    margin-top: 5px;
  }

  .inputMinutos {
    width: 20%;
    margin-top: 5px;
  }

  .btnGuardar {
    width: 100%;
    padding: 10px;
  }
}
