
<div *ngIf='datos'>
  <div>{{datos.usuario.PIN2}}</div>
  <div>{{datos.usuario.Password}}</div>
  <div>{{datos.usuario.PIN}}</div>


  <mat-list>
    <mat-list-item *ngFor="let huella of datos.huellas">
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine> Dedo {{huella.FingerID}} </h3>
      <div matLine>
        <div> {{huella.Size}} </div>
        <div> {{huella.Template}} </div>
        <div *ngIf="huella.Valid == '1'"> Valida </div>
        <div *ngIf="huella.Valid == '0'"> In-Valida </div>
      </div>
    </mat-list-item>
  </mat-list>

</div>
