<div class="justificaciones">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" routerLink="/justificacion_admin"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Detalle Justificación
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla" *ngIf="justificacion">


          <div class="contenedorIzquierdo">

            <form id="ngForm" (ngSubmit)=guardar() #justificacionForm="ngForm" class="contenidoFormulario">

              <mat-form-field class="item">
                <input matInput placeholder="Nombre"  [(ngModel)]="justificacion.nombre" required name="nombre">
              </mat-form-field>

              <mat-form-field class="item">
                <input matInput placeholder="Descripción" [(ngModel)]="justificacion.descripcion"  name="descripcion">
              </mat-form-field>

              <mat-form-field class="item">
                <input matInput placeholder="Código" [(ngModel)]="justificacion.codigo" required name="codigo">
              </mat-form-field>

              <mat-checkbox [(ngModel)]="justificacion.general" name="general" class="textJustificacionGeneral">Marcar como Justificación General</mat-checkbox>

            </form>

          </div>

          <div class="contenedorDerecho">

            <button mat-button (click)="eliminar()" *ngIf="!nuevo" class="btnAcciones"><mat-icon class="icoMenu">delete</mat-icon> ELIMINAR JUSTIFICACIÓN</button>
            <button mat-button (click)="cancelar()" *ngIf="nuevo" class="btnAcciones"> <mat-icon class="icoMenu">highlight_off</mat-icon> CANCELAR</button>
            <button mat-button class="btnClasico" form="ngForm" type="submit" [disabled]="!justificacionForm.form.valid"> GUARDAR</button>

          </div>


    </div>

</div>
