<mat-sidenav-container class="menu">

  <mat-sidenav #sidenav mode="over" [(opened)]="abierto">

    <button class="btn" mat-button routerLink="/inicio"><mat-icon>bookmark_border</mat-icon> Inicio</button><br>
    <button class="btn" mat-button routerLink="/reporte_inicial"><mat-icon>list</mat-icon> Reportes</button><br>
    <button class="btn" mat-button routerLink="/justificaciones"><mat-icon>star_border</mat-icon> Justificaciones</button><br>
    <button class="btn" mat-button routerLink="/horarios"><mat-icon>alarm_on</mat-icon> Horarios</button><br>
    <button class="btn" mat-button routerLink="/admin_relojes"><mat-icon>query_builder</mat-icon> Administrar Relojes</button><br>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet class="pantalla"></router-outlet>
    <button mat-button (click)='abierto = !abierto'><mat-icon>menu</mat-icon></button>
  </mat-sidenav-content>

</mat-sidenav-container>
