<mat-sidenav-container  class="menu">

  <mat-sidenav #sidenav mode="over" (openedChange)='onOpenedChange($event)' [disableClose]='false' [(opened)]="menu_abierto">

    <!--
      creo que este botón no debería existir
    <button class="btn" mat-button (click)='onInternalItem()' routerLink="/sistema/inicial">
      <mat-icon class="icoMenu">bookmark_border</mat-icon> Inicio
    </button><br>
    -->
    <button *ngIf="chequearPerfil(['inicio_personal'])" class="btn" mat-button (click)='onInternalItem()' routerLink="/sistema/miperfil">
      <mat-icon class="icoMenu">perm_identity</mat-icon> Inicio
    </button><br>
    <button *ngIf="chequearPerfil(['reporte_personal','reporte_general'])" class="btn" mat-button (click)='onInternalItem()' routerLink="/sistema/reportes/inicial">
      <mat-icon class="icoMenu">list</mat-icon> Reportes
    </button><br>
    <button *ngIf="chequearPerfil(['justificacion_personal','justificacion_general','justificacion_tipo_abm'])" class="btn" mat-button (click)='onInternalItem()' routerLink="/sistema/justificaciones/seleccion">
      <mat-icon class="icoMenu">star_border</mat-icon> Justificaciones
    </button><br>
    <button *ngIf="chequearPerfil(['horario_vista','horario_abm'])" class="btn" mat-button (click)='onInternalItem()' routerLink="/sistema/horarios/seleccion">
      <mat-icon class="icoMenu">alarm_on</mat-icon> Horarios
    </button><br>
    <!-- <button class="btn" mat-button (click)='onInternalItem()' routerLink="/relojes/buscar"><mat-icon class="icoMenu">query_builder</mat-icon> Administrar Relojes &nbsp;</button><br> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <router-outlet name="pantalla" class="pantalla"></router-outlet> -->
    <router-outlet class="pantalla"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
