<mat-sidenav-container class="menu">

  <mat-sidenav #sidenav mode="over" [(opened)]="abierto">
      <p><button mat-raised-button class="btn" routerLink="/inicio"><mat-icon>add</mat-icon> Inicio</button></p>
      <p><button mat-raised-button class="btn" routerLink="/reporte_inicial"><mat-icon>add</mat-icon> Reportes</button></p>
      <p><button mat-raised-button class="btn" routerLink="/horarios"><mat-icon>add</mat-icon> Horarios</button></p>
      <p><button mat-raised-button class="btn" routerLink="/justificaciones"><mat-icon>add</mat-icon> Justificaciones</button></p>
      <p><button mat-raised-button class="btn" routerLink="/admin_relojes"><mat-icon>add</mat-icon> Administrar Relojes</button></p>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet class="pantalla"></router-outlet>
    <button mat-button (click)='abierto = !abierto'><mat-icon>menu</mat-icon></button>
  </mat-sidenav-content>

</mat-sidenav-container>
