<div class="inicio">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" disabled><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Pantalla de inicio
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla">

        <div class="cabeceraInicio">

            <div class="contenedorFecha">
                <div class="hora">11:19</div>
                <div class="fecha">Miércoles, 14 de marzo</div>
            </div>

            <mat-divider></mat-divider>


            <div class="contenedorItem">
                <div class="contenedorcantidadP">115</div>
                <div>
                  <div class="textSubCantidad">Actualmente</div>
                  <div>PRESENTES</div>
                </div>
            </div>
            <div class="contenedorItem">
                <div class="contenedorcantidadR">32</div>
                <div>
                  <div class="textSubCantidad">Actualmente</div>
                  <div>SALIERON</div>
                </div>
            </div>
            <div class="contenedorItem">
                <div class="contenedorcantidadA">18</div>
                <div>
                  <div class="textSubCantidad">Actualmente</div>
                  <div>AUSENCIAS</div>
                </div>
            </div>

        </div>



        <div class="buscadorUsuarios">
              <form class="formularioBuscar">
                  <mat-form-field class="inputBuscar">
                    <input  matInput placeholder=" Buscar usuario">
                  </mat-form-field>
              </form>
        </div>

        <div class="listasDeUsuarios">

            <div class="listaEyS">
                  <div class="tituloLista">Entradas / Salidas</div>
                  <mat-list>
                    <mat-list-item class="itemLista colorEntrada">
                      <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                      <h3 matLine> Walter Blanco </h3>
                      <p matLine>
                        <span class="itemTextoSubtitulo">10:05 | Entrada</span>
                      </p>
                    </mat-list-item>
                  </mat-list>
                  <mat-list>
                    <mat-list-item class="itemLista colorEntrada">
                      <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                      <h3 matLine> Emanuel Pais </h3>
                      <p matLine>
                        <span class="itemTextoSubtitulo">08:32 | Entrada</span>
                      </p>
                    </mat-list-item>
                  </mat-list>
                  <mat-list>
                    <mat-list-item class="itemLista colorSalida">
                      <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                      <h3 matLine> Pablo Daniel Rey </h3>
                      <p matLine>
                        <span class="itemTextoSubtitulo">11:25 | Salida</span>
                      </p>
                    </mat-list-item>
                  </mat-list>
                  <mat-list>
                    <mat-list-item class="itemLista colorEntrada">
                      <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                      <h3 matLine> Ivan Castaneda </h3>
                      <p matLine>
                        <span class="itemTextoSubtitulo">07:58 | Entrada</span>
                      </p>
                    </mat-list-item>
                  </mat-list>
                  <mat-list>
                    <mat-list-item class="itemLista colorEntrada">
                      <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                      <h3 matLine> Pablo Daniel Rey </h3>
                      <p matLine>
                        <span class="itemTextoSubtitulo">06:14 | Entrada</span>
                      </p>
                    </mat-list-item>
                  </mat-list>
                  <mat-list>
                    <mat-list-item class="itemLista colorSalida">
                      <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                      <h3 matLine> Juan alberto Perez </h3>
                      <p matLine>
                        <span class="itemTextoSubtitulo">05:56 | Salida</span>
                      </p>
                    </mat-list-item>
                  </mat-list>
            </div>

            <div class="listaAusentes">
              <div class="tituloLista">Ausentes</div>
              <mat-list>
                <mat-list-item class="itemLista colorAUsente">
                  <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                  <h3 matLine> Maximiliano Saucedo </h3>
                  <p matLine>
                    <span class="itemTextoSubtitulo">Ausente</span>
                  </p>
                </mat-list-item>
                <mat-list-item class="itemLista colorAUsente">
                  <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                  <h3 matLine> Monica Perotti </h3>
                  <p matLine>
                    <span class="itemTextoSubtitulo">Ausente | Licencia Médica</span>
                  </p>
                </mat-list-item>
                <mat-list-item class="itemLista colorAUsente">
                  <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                  <h3 matLine> Juan Manuel Gonzales </h3>
                  <p matLine>
                    <span class="itemTextoSubtitulo">Ausente</span>
                  </p>
                </mat-list-item>
                <mat-list-item class="itemLista colorAUsente">
                  <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                  <h3 matLine> Anibal Pedro Castro  </h3>
                  <p matLine>
                    <span class="itemTextoSubtitulo">Ausente | Ausente con aviso</span>
                  </p>
                </mat-list-item>
                <mat-list-item class="itemLista colorAUsente">
                  <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                  <h3 matLine> Maria Otamendi </h3>
                  <p matLine>
                    <span class="itemTextoSubtitulo">Ausente</span>
                  </p>
                </mat-list-item>
                <mat-list-item class="itemLista colorAUsente">
                  <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                  <h3 matLine> Julian Cataneo </h3>
                  <p matLine>
                    <span class="itemTextoSubtitulo">Ausente | Pre-Exámen</span>
                  </p>
                </mat-list-item>
              </mat-list>
            </div>
        </div>

    </div>

</div>
