<div class="miPerfil">
    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" routerLink="/sistema/inicial"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Mis Marcaciones
    </div>

  <mat-divider></mat-divider>

  <div class="contenidoPantalla">

      <div class="perfil">
          <div>
            <mat-list>
              <mat-list-item class="itemLista">
                <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                <h3 matLine> Walter Blanco </h3>
                <p matLine>
                  <span class="itemTextoSubtitulo">30001823</span>
                </p>
              </mat-list-item>
            </mat-list>
          </div>


          <div class="tituloOficina">Oficina | Cargo</div>


          <div class="bloque" *ngFor='let o of oficinas'>
            <div><b>Oficina</b></div>
            <div class="subText">{{o.nombre}}</div>
            <div><b>Cargo</b></div>
            <div class="subText">{{o.cargo}}</div>
            <mat-divider></mat-divider>
          </div>


          <div class="aviso">
              <mat-accordion>
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              <div class="tituloAviso">
                                <div><mat-icon class="icoAviso">error</mat-icon> </div>
                                <div> AVISO IMPORTANTE</div>
                              </div>
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>
                          Se está desarrollando una nueva interfaz para las solicitudes de personal. y por el momento <b>no se podrá</b> realizar pedidos de forma online.<br>
                          Para solicitar ausentes con aviso, boletas de salida, etc. Debera solicitarlo de forma presencial o telefónicamente en el Departamento de Personal.<br>
                          Serán notificados cuando la misma se encuentre disponible nuevamente.
                      </p>
                  </mat-expansion-panel>
              </mat-accordion>
          </div>

          <!-- <button mat-button class="btnAcciones" title="Editar Perfil"><mat-icon class="icoMenu">launch</mat-icon>EDITAR PERFIL</button> -->


      </div>

      <div class="horario">

          <div class="titulo">Marcaciones</div>

          <div>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Seleccione Fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="contenedorMarcaciones">
              <div>
                <div class="tituloHora"><b>Hora de Entrada</b></div>
                <div class="contenedorHora"> 08:15</div>
                <div class="textSubHora">Hora declarada: 08:00</div>
              </div>
              <div>
                <div class="tituloHora"><b>Hora de Salida</b></div>
                <div class="contenedorHora"> 15:05</div>
                <div class="textSubHora">Hora declarada: 15:00</div>
              </div>
              <div>
                <div class="tituloHora"><b>Horas Trabajadas</b></div>
                <div class="contenedorHora"> 06:50</div>
                <div class="textSubHora">Horas declaradas: 07:00</div>
              </div>

          </div>

          <button mat-button class="btnGenerar"> VER REPORTE DE MARCACIONES</button>

          <mat-divider></mat-divider>


          <div class="contenedorJustificaciones">
            <div class="titulo">Justificaciones tomadas</div>

              <div class="justificaciones">

                <div class="bloqueJustificaciones">
                    <div class="justificacion" *ngFor='let j of justificaciones'>
                        <div class="textJustificacion">{{j.nombre}}</div>
                        <div class="textoCantidad"><b>{{j.cantidad}}</b></div>
                    </div>
                </div>


              </div>

          </div>




      </div>

  </div>
</div>
