/* ---- CSS BASICO PARA CADA PANTALLA ----*/

.miPerfil {
}

.miPerfil .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.miPerfil .btnVolverSeccion {
  color: grey;
}

.miPerfil .contenidoPantalla {
  padding: 20px;
}

.linkTexto {
  color:inherit;
  text-decoration: none;
}

/* ---------------------------------------*/

.preload {
  opacity: 0.2;
  margin-top: 20px;
}

.contenidoPantalla {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.perfil {
  width: 30%;
}

.horario {
  padding: 10px 0 0 40px;
  width: 70%;
}

.itemLista {
  background-color: white;
  border: solid 1px #E0E0E0;
}

.itemTextoSubtitulo {
  color: grey;
}

.bloque {
  margin-top: 10px;
  margin-left: 10px;
}

.titulo {
  color: #4186e1;
  font-size: 18px;


}

.tituloOficina {
  color: #4186e1;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 18px;
}

.subText {
  font-size: 14px;
  margin-bottom: 5px;
}


.btnAcciones {
  margin-top: 20px;
  padding: 5px 20px 5px 15px;
  background-color: #fff;
  border: 1px solid #e0e0e0;

}

.btnAcciones:hover {
background-color: white;
}

.icoMenu {
    color: rgba(0,0,0,.54);
    margin-right: 10px;
}

.textoInfo {
  font-size: 14px;

}

.mensaje {
  background-color: white;
  /* color: white; */
  padding: 20px;
  border: 1px solid #EA363F;
}

.contenedorMarcaciones {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.contenedorHora {
  background-color: white;
  border: solid 1px #E0E0E0;
  margin-right: 20px;
  width: 150px;
  margin-top: 5px;
  font-size: 40px;
  color: #4186e1;
  text-align: center;
  padding: 10px;
  height: 65px;
}

.contenedorHora2 {
  background-color: white;
  border: solid 1px #E0E0E0;
  margin-right: 20px;
  width: 200px;
  margin-top: 5px;
  font-size: 40px;
  color: #4186e1;
  text-align: center;
  padding: 10px;
  height: 65px;
}

.aviso {
  margin-top: 20px;
}

.tituloAviso {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icoAviso {
  margin-right: 10px;
  color:#EA363F;
  animation-name: parpadeo;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;

 -webkit-animation-name:parpadeo;
 -webkit-animation-duration: 1s;
 -webkit-animation-timing-function: linear;
 -webkit-animation-iteration-count:
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.7; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.7; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.7; }
  100% { opacity: 1.0; }
}



.textHora {

}

.tituloHora {
  /* background-color: #4186e1; */
  /* color: white; */
  font-size: 14px;
}

.hora {
  padding: 5px;
}

.textSubHora {
  /* color: grey; */
  font-size: 12px;
  margin-top: 5px;
}

.btnGenerar {
  background-color: #4186e1;
  color: #fff;
  margin-bottom: 20px;
}

.contenedorJustificaciones {
  margin-top: 20px;
}

.bloqueJustificaciones {
  margin-top: 10px;
  margin-right: 40px;
}

.justificacion {
  display: flex;
  flex-direction: row;
}

.textoCantidad {
  margin-left: 5px;
  color: #4186e1;

}

.textJustificacion {
    width: 150px;
}

.justificaciones {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 769px) {
  .contenidoPantalla {
    flex-direction: column;
  }
  .perfil {
    width:100%;
  }
  .contenedorMarcaciones {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .horario {
     width: 100%;
     padding: 0px;
     margin-top: 20px;

  }
  .contenedorHora {
    width: 100%;

  }

  .contenedorHora2 {
    width: 100%;

  }

  .textSubHora {
    margin-bottom: 20px;
  }

  .btnGenerar {
    width: 100%;
    background-color: #4186e1;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
  }

  .inputFecha{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

}
