<div class="seleccionarUsuario">

    <form (ngSubmit)="buscarUsuarios()" #usuarioForm="ngForm">
      <mat-form-field class="search">
          <input matInput type='search'  placeholder="Buscar Usuario"  [(ngModel)]='busqueda'  name="search" id="search" required/>
      </mat-form-field>

      <button type="submit" mat-raised-button (click)='buscarUsuarios()' [disabled]="!usuarioForm.form.valid" title="Buscar usuario"><mat-icon>search</mat-icon> </button>

    </form>
      <!-- <button *ngIf='false' mat-raised-button routerLink='/crear' class="btnNuevoUsuario" title="Crear usuario nuevo"><mat-icon>person_add</mat-icon> </button> -->

      <div class="textoResultadoDeBusqueda"> Resultado de búqueda: <b>{{usuarios.length}}</b>  </div>


      <div class="listaDeUsuarios">
        <div *ngFor="let datos of usuarios" routerLink="/reporte/{{datos.usuario.id}}" [queryParams]="{ fecha_inicial:inicio, fecha_final:fin }" class="mdc-list-item">
          <div class="itemUser">
              <div>
                  <mat-icon class="ico">account_circle</mat-icon>
              </div>
              <div>
                  <div>{{datos.usuario.nombre }} {{datos.usuario.apellido}}</div>
                  <div class="textoDNI">{{datos.usuario.dni}}</div>
                  <!-- <div>{{datos.usuario.dni}} {{datos.sileg != null ? 'tiene' : 'no tiene'}}</div> -->
              </div>
          </div>
        </div>
      </div>


</div>
