<div  class="reporte">
  <div class="seccionSistema">
    <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
     | Reporte Justificaciones
  </div>
  <mat-divider></mat-divider>
  <div class="contenidoPantalla">
    <div class="cabeceraReporte">
        <div class="contenedorListaDeUsuario">
            <mat-list class="listaUsuario">
              <mat-list-item class="itemLista">
                <img matListAvatar src="/assets/img/icono_usuario.jpg">
                <h3 matLine *ngIf="reporte && reporte.usuario"> {{reporte.usuario.nombre}} {{reporte.usuario.apellido}}</h3>
                <p matLine>
                  <span class="itemTextoSubtitulo" *ngIf="reporte && reporte.usuario  ">{{reporte.usuario.dni}}</span>
                </p>
              </mat-list-item>
            </mat-list>
        </div>
        <form (ngSubmit)='generarReporte()'>
          <div class="contenedorSeleccionDeFechas">
            <mat-form-field class="seleccionFechaInicio">
                <mat-placeholder>Fecha Inicio</mat-placeholder>
              <input matInput [matDatepicker]="datePickerInicio" name='fecha_inicial' [(ngModel)]="fecha_inicial" required>
              <mat-datepicker-toggle matSuffix [for]="datePickerInicio"></mat-datepicker-toggle>
              <mat-datepicker #datePickerInicio></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="seleccionFechaFin">
              <mat-placeholder>Fecha Fin</mat-placeholder>
              <input matInput [matDatepicker]="datePickerFin" name='fecha_final' [(ngModel)]="fecha_final" required>
              <mat-datepicker-toggle matSuffix [for]="datePickerFin"></mat-datepicker-toggle>
              <mat-datepicker #datePickerFin></mat-datepicker>
            </mat-form-field>
            <div class="contenedorBtnGenerar"><button mat-button class="btnGenerar" [disabled]="buscando" type='submit'>GENERAR REPORTE</button></div>
          </div>
        </form>
        <div class="contenedorBtnAcciones">
          <!-- <button mat-button class="btnAcciones" title="Imprimir"><i class="material-icons">print</i></button>
          <button mat-button class="btnAcciones" title="Descargar"><i class="material-icons">cloud_download</i></button>
          <button mat-button class="btnAcciones" title="Compartir"><i class="material-icons">share</i></button> -->
        </div>
    </div>
    <mat-progress-bar *ngIf="buscando" mode="indeterminate" value="10" class="preload"></mat-progress-bar>
    <mat-divider></mat-divider>
    <div class="detalleReporte">
      <div class="columna">
        <div class="titulo">Justficaciones</div>
        <mat-divider></mat-divider>
        <div class="contenedorItemDetalles">
          <div class="itemDetalles" *ngFor='let j of reporte.justificaciones'>
            <div>{{j.nombre}}:</div><div>{{j.cantidad}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>