<div  class="reporte">

    <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" disabled><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
       | Reporte Personal
    </div>

    <mat-divider></mat-divider>

    <div class="contenidoPantalla">

      <div class="cabeceraReporte">
          <div class="contenedorListaDeUsuario">
              <mat-list class="listaUsuario">
                <mat-list-item class="itemLista">
                  <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
                  <h3 matLine> Nombre Apellido </h3>
                  <p matLine>
                    <span class="itemTextoSubtitulo">{{reporte.usuario.dni}}</span>
                  </p>
                </mat-list-item>
              </mat-list>
          </div>
          <div class="contenedorSeleccionDeFechas">
            <mat-form-field class="seleccionFechaInicio">
                <mat-placeholder>Fecha Inicio</mat-placeholder>
              <input matInput [matDatepicker]="datePickerInicio" [(ngModel)]="fecha_inicial">
              <mat-datepicker-toggle matSuffix [for]="datePickerInicio"></mat-datepicker-toggle>
              <mat-datepicker #datePickerInicio></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="seleccionFechaFin">
              <mat-placeholder>Fecha Fin</mat-placeholder>
              <input matInput [matDatepicker]="datePickerFin" [(ngModel)]="fecha_final">
              <mat-datepicker-toggle matSuffix [for]="datePickerFin"></mat-datepicker-toggle>
              <mat-datepicker #datePickerFin></mat-datepicker>
            </mat-form-field>
            <div class="contenedorBtnGenerar"><button mat-button class="btnGenerar" (click)='generarReporte()'>GENERAR REPORTE</button></div>
          </div>
          <div class="contenedorBtnAcciones">
            <button mat-button class="btnAcciones" title="Imprimir"><i class="material-icons">print</i></button>
            <button mat-button class="btnAcciones" title="Descargar"><i class="material-icons">cloud_download</i></button>
            <button mat-button class="btnAcciones" title="Compartir"><i class="material-icons">share</i></button>
          </div>
      </div>


      <mat-tab-group *ngIf='reporte'>
          <mat-tab label="Reporte" class="Tabs">


              <div *ngIf='reporte'>
              <mat-table [dataSource]='reporte.reportes' matSort>

                <ng-container matColumnDef='Dia'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Dia </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'> {{renglon.fecha | date: 'EEE'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Fecha'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                  <mat-cell *matCellDef='let renglon' class="textFecha"> {{renglon.fecha | date: 'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Horario'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Horario </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'> {{obtenerHorario(renglon)}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Entrada'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Entrada </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'> {{obtenerMarcacion(renglon.entrada) | date:'HH:mm'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Salida'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Salida </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'> {{obtenerMarcacion(renglon.salida) | date:'HH:mm'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Horas_trabajadas'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Horas </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'> {{obtenerHorasTrabajadas(renglon)}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Justificacion'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Justificacion </mat-header-cell>
                  <mat-cell *matCellDef='let renglon'>
                    <div *ngIf='renglon.justificacion'> {{renglon.justificacion }} </div>
                    <button mat-icon-button *ngIf='!renglon.justificacion' routerLink="" [queryParams]="{ fecha: renglon.fecha }" class="btnJustificar" title="Justificar"><i class="material-icons">playlist_add_check</i></button>
                  </mat-cell>
                </ng-container>

                <!-- VISTA PC -->
                <mat-header-row *matHeaderRowDef="['Dia','Fecha','Horario','Entrada','Salida','Horas_trabajadas','Justificacion']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['Dia','Fecha','Horario','Entrada','Salida','Horas_trabajadas','Justificacion']"></mat-row>

                <!-- VISTA CELULAR -->
                <!-- <mat-header-row *matHeaderRowDef="['Fecha','Entrada','Salida','Horas_trabajadas']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['Fecha','Entrada','Salida','Horas_trabajadas']"></mat-row> -->


              </mat-table>
              </div>

          </mat-tab>

          <mat-tab label="Detalle" class="Tabs">
              <div clasS="detalleReporte">
                  <div class="columna">
                      <div class="titulo">Detalle sobre días</div>
                      <mat-divider></mat-divider>
                      <div class="contenedorItemDetalles">
                        <div class="itemDetalles">
                          <div>Días seleccionados:</div><div>365</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Días laborables:</div><div>286</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Días trabajados:</div><div>274</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Faltas justificadas:</div><div>10</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Faltas injustificadas:</div><div>2</div>
                        </div>
                      </div>
                  </div>
                  <div class="columna">
                      <div class="titulo">Detalle sobre horas</div>
                      <mat-divider></mat-divider>
                      <div class="contenedorItemDetalles">
                        <div class="itemDetalles">
                          <div>Horas a trabajar:</div><div>420</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Horas trabajadas:</div><div>380</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Horas justificadas:</div><div>47</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Diferencia de horas:</div><div>+7</div>
                        </div>
                      </div>
                  </div>
                  <div class="columna">
                      <div class="titulo">Justficaciones</div>
                      <mat-divider></mat-divider>
                      <div class="contenedorItemDetalles">
                        <div class="itemDetalles">
                          <div>Vacaciones:</div><div>28</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Ausentes con aviso:</div><div>5</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Articulo 102:</div><div>4</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Pre-exámen:</div><div>7</div>
                        </div>
                        <div class="itemDetalles">
                          <div>Licencias medicas:</div><div>4</div>
                        </div>
                      </div>
                  </div>
                  <div class="columna">
                    <div class="titulo">Stock</div>
                    <mat-divider></mat-divider>
                    <div class="contenedorItemDetalles">
                      <div class="itemDetalles">
                        <div>Vacaciones:</div><div>0</div>
                      </div>
                      <div class="itemDetalles">
                        <div>Ausente con aviso:</div><div>1</div>
                      </div>
                      <div class="itemDetalles">
                        <div>Articulo 102:</div><div>2</div>
                      </div>
                      <div class="itemDetalles">
                        <div>Boletas de salida (HS):</div><div>36</div>
                      </div>
                      <div class="itemDetalles">
                        <div>Pre-Exámen:</div><div>16</div>
                      </div>
                      <div class="itemDetalles">
                        <div>Compensatorio:</div><div>7</div>
                      </div>
                      <div class="itemDetalles">
                        <div>Cumpleaños:</div><div>1</div>
                      </div>
                    </div>
                  </div>
              </div>
          </mat-tab>
      </mat-tab-group>

    </div>

</div>
