
  <div *ngIf='info'>
    {{info.name}}
    {{info.family_name}}
    {{info.email}}
  </div>

<div>
  <mat-form-field>
    <input matInput [matDatepicker]="datePickerInicio" [(ngModel)]="fecha_inicial">
    <mat-datepicker-toggle matSuffix [for]="datePickerInicio"></mat-datepicker-toggle>
    <mat-datepicker #datePickerInicio></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <input matInput [matDatepicker]="datePickerFin" [(ngModel)]="fecha_final">
    <mat-datepicker-toggle matSuffix [for]="datePickerFin"></mat-datepicker-toggle>
    <mat-datepicker #datePickerFin></mat-datepicker>
  </mat-form-field>

  <button (click)='generarReporte()'>Generar Reporte</button>
</div>

<ul>
  <li *ngFor="let r of obtenerReportes()" class="mdc-list-item">
    <span>{{obtenerUsuario()}}</span>
    <span> {{r.fecha}} </span>
  </li>
</ul>
