/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.reporte {
}

.reporte .seccionSistema {
  color: #4186e1;
  padding: 5px;
}

.reporte .btnVolverSeccion {
  color: grey;
}

.reporte .contenidoPantalla {
  padding: 20px;
}

/* ---------------------------------------*/

tr {
  border: 1px solid;
}

td {
  border: 1px solid;
  padding:0.5em;
}
