
  <div *ngIf='info'>
    {{info.name}}
    {{info.email}}
  </div>

<div>
  <mat-form-field>
    <input matInput [matDatepicker]="datePickerInicio" [(ngModel)]="fecha_inicial">
    <mat-datepicker-toggle matSuffix [for]="datePickerInicio"></mat-datepicker-toggle>
    <mat-datepicker #datePickerInicio></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <input matInput [matDatepicker]="datePickerFin" [(ngModel)]="fecha_final">
    <mat-datepicker-toggle matSuffix [for]="datePickerFin"></mat-datepicker-toggle>
    <mat-datepicker #datePickerFin></mat-datepicker>
  </mat-form-field>

  <button (click)='generarReporte()'>Generar Reporte</button>
</div>

<table>
  <tr>
    <th>Usuario</th>
    <th>Día</th>
    <th>Fecha</th>
    <th>Horario</th>
    <th>Entrada</th>
    <th>Salida</th>
  </tr>
  <tr *ngFor="let r of obtenerReportes()" class="mdc-list-item">
    <td>{{obtenerUsuario()}}</td>
    <td> {{r.fecha | date: 'EEE'}} </td>
    <td> {{r.fecha | date: 'dd/MM/yyyy'}} </td>
    <td> {{obtenerHorario(r)}} </td>
    <td> {{obtenerMarcacion(r.entrada) | date:'shortTime'}} </td>
    <td> {{obtenerMarcacion(r.salida) | date:'shortTime'}} </td>
  </tr>
</table>
